body{
	margin:0;
}
#my-slider{
	position: relative;
	height:340px;
}
ul{
	width: 100%;
	height:100%;
	list-style: none;
	padding:0;
	margin:0;
	position: relative;
}
.slide-list__item,
.slide-list__item--selected{
	position: absolute;
	transition: opacity 1s;
	opacity: 0;
}
.slide-list__item--selected{
	transition: opacity 1s;
	opacity: 1;
}
.slide-list__control{
	position: relative;
	display: table;
	padding:5px;
	background-color: rgba(255,255,255,.5);
	border-radius: 10px;
	bottom: 30px;
	margin:0 auto;
}
.slide-list__control-button,
.slide-list__control-button--selected{
	display: inline-block;
	width:15px;
	height: 15px;
	background-color: white;
	border-radius: 50%;
	margin:0 5px;
}
.slide-list__control-button--selected{
	background-color:red; 
}